<h1 id="titulo">Hello!</h1>
<h2 class = "subtitulo">Conecta con quienes quieran conectar contigo</h2>
<p class = "subtitulo" id = "instruccion">Solo tienes que registrarte para encontrar y ser encontrado :)</p>
<div class="formulario">
	<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>

	<%= f.label "Nombre", class: 'form-label'%>
	<%= f.text_field :name, class: 'form-control'%>

	<%= f.label :email, class: 'form-label'%>
	<%= f.email_field :email, class: 'form-control'%>

	<%= f.label "Contraseña", class: 'form-label'%>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label "Repite tu contraseña", class: 'form-label'%>
	<%= f.password_field :password_confirmation, class: 'form-control'%>

	<%= f.submit "Crea mi cuenta!", class: "btn btn-primary"%>

	<% end %>

</div>