// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

header{
	width: 100%;
	border: 1px solid red;
	p{
		text-align: right;
		margin: 5px;
	}
}

body{
	border: 1px solid green;
}

#titulo{
	font-size: 65px;
	text-align: center;
	margin-top: 80px;
}

.subtitulo#instruccion, .subtitulo{
	text-align: center;

}
.subtitulo#instruccion{
		font-size:22px;
}

.formulario{
	width: 40%;
	margin: 0 auto;
	text-align: center;

	.form-label{
		float: left;
	}

	.form-control{
		margin-bottom: 15px;
	}

	.btn-primary{
		margin-top: 7px;
	}
}