<% provide(:name, "#{session[:user_name]}") %>
<header>
	<% if logged_in? %>
		<%= link_to "#{session[:user_name]}", actualuser_path %>
		<%= link_to "Log out", logout_path, method: "delete" %>
	<% else %>
		<%= link_to "Inicia sesion!",login_path %>
	<% end %>
</header>